{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_monitoring/overview

    Render overview of all metrics.

    Example context (json):
    {
        "metrics": [
            {
                "component": "local_plugin",
                "name": "foo",
                "type": "gauge",
                "description": "number of foos",
                "configurl": "http://moodle.org/admin/tool/monitoring/configure.php?metric=local_plugin_foo",
                "tags": [
                    {"id":1,"name":"Cat","viewurl":"http://moodle.org/admin/tool/monitoring/?tags=Cat"},
                    {"id":1,"name":"Dog","viewurl":"http://moodle.org/admin/tool/monitoring/?tags=Dog"},
                    {"id":1,"name":"Mouse","viewurl":"http://moodle.org/admin/tool/monitoring/?tags=Mouse"}
                ]
            }
        ],
        "tagsenabled": true,
        "managetagsurl": "http://moodle.org/tag/manage.php?tc=14",
        "filtered": true,
        "allmetricsurl": "http://moodle.org/admin/tool/monitoring/",
        "tags": [
            {
                "name": "Cat",
                "removeurl": "http://moodle.org/admin/tool/monitoring/",
                "editurl": "http://moodle.org//tag/edit.php?id=42"
            }
        ]
    }
}}

<h2>
    {{#str}} metricsoverview, tool_monitoring {{/str}}
</h2>

{{#filtered}}
    <div class="mt-3">
        {{#str}} tagfilter, tool_monitoring {{/str}}
        {{#tags}}
            <a href="{{removeurl}}" class="badge bg-secondary text-dark" style="font-size: 100%;"><span aria-hidden="true">× </span> {{name}}</a>
        {{/tags}}
    </div>
    <div class="text-right mb-3">
        <a href="{{allmetricsurl}}">{{#str}} metricsoverviewshowall, tool_monitoring {{/str}}</a>
    </div>
{{/filtered}}

<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">{{#str}} component, tool_monitoring {{/str}}</th>
      <th scope="col">{{#str}} name, tool_monitoring {{/str}}</th>
      <th scope="col">{{#str}} type, tool_monitoring {{/str}}</th>
      <th scope="col">{{#str}} description, tool_monitoring {{/str}}</th>
      {{#tagsenabled}}
        <th scope="col">{{#str}} tags, tool_monitoring {{/str}}</th>
      {{/tagsenabled}}
      <th scope="col">{{#str}} actions, tool_monitoring {{/str}}</th>
    </tr>
  </thead>
  <tbody>
    {{#metrics}}
      <tr>
        <td>{{component}}</td>
        <td>{{name}}</td>
        <td>{{type}}</td>
        <td>{{description}}</td>
        {{#tagsenabled}}
          <td>
            {{#tags}}
              <a href="{{viewurl}}" class="badge bg-info text-white">{{name}}</a>
            {{/tags}}
          </td>
        {{/tagsenabled}}
        <td><a href="{{{configurl}}}">{{#str}} edit, tool_monitoring {{/str}}</a></td>
      </tr>
    {{/metrics}}
  </tbody>
</table>

{{#tagsenabled}}
    <div class="my-5 text-right">
        {{#tags}}
            <a href="{{editurl}}" class="btn btn-secondary">{{#str}} edit_tag, tool_monitoring, {{name}} {{/str}}</a>
        {{/tags}}
        <a href="{{managetagsurl}}" class="btn btn-secondary">{{#str}} manage_tags, tool_monitoring {{/str}}</a>
    </div>
{{/tagsenabled}}