{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_monitoring/overview

    Render overview of all metrics.

    Example context (json):
    {
        "metrics": [
            {
                "component": "local_plugin",
                "name": "foo",
                "type": "gauge",
                "description": "number of foos",
                "configurl": "/admin/tool/monitoring/configure.php?metric=local_plugin_foo"
            }
        ]
    }
}}

<h2>{{#str}} metricsoverview, tool_monitoring {{/str}}</h2>

<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">{{#str}} component, tool_monitoring {{/str}}</th>
      <th scope="col">{{#str}} name, tool_monitoring {{/str}}</th>
      <th scope="col">{{#str}} type, tool_monitoring {{/str}}</th>
      <th scope="col">{{#str}} description, tool_monitoring {{/str}}</th>
      <th scope="col">{{#str}} actions, tool_monitoring {{/str}}</th>
    </tr>
  </thead>
  <tbody>
    {{#metrics}}
      <tr>
        <td>{{component}}</td>
        <td>{{name}}</td>
        <td>{{type}}</td>
        <td>{{description}}</td>
        <td><a href="{{{configurl}}}">{{#str}} edit, tool_monitoring {{/str}}</a></td>
      </tr>
    {{/metrics}}
  </tbody>
</table>
